<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Othello</title>
</head>
{% block content %}
    {{ super() }}
    <body>
    <div class="layout">

        <div class="center-block">
            <h1>{{ title }}</h1>
        </div>
        <div class="center-block">
            <h4>{{ welcomeText|safe }}</h4>
        </div>
        <div class="center-block">
            <!--
                select player 1
            -->
            <div class="center-block">
                <b>Player 1 is Human.</b>
            </div>
            <!--
                select player 2
            -->
            <div class="form-group">
                <label for="playerTwoType">Select Player 2 Type:</label>
                <select class="form-control" id="playerTwoType">
                    <option>Human</option>
                    <option>Computer (Random)</option>
                    <option>Computer (AI)</option>
                </select>
            </div>
        </div>

        <div class="center-block">
            <button class="submit" type="submit" onclick="on_click()">Start Game</button>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function on_click() {
            const playerTwoType = $("#playerTwoType");
            $.post(
                '/startGame',
                {
                    "playerOneType": 'Human',
                    "playerTwoType": playerTwoType[0].value
                }
            ).done(function (id) {
                window.location = `/playGame/${id}`;
            }).fail(function (e) {
                console.error(e);
            });
        }
    </script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style lang="scss">
        .layout {
            display: flex;
            flex-direction: column;
        }
        .center-block {
            display: flex;
            padding-bottom: 12px;
        }

        .form-group {
            width: auto;
            margin-left: 10px;
        }

    </style>
{% endblock %}